.productCarousel {
  position: relative;
}

.productContainer {
  height: 34rem;
}

.productContainer img {
  object-fit: cover;
  object-position: bottom;
}

.btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-neutral-white);
  padding: 1rem 1.2rem;
  border-radius: 50%;
}

.btn--left {
  left: 0;
  transform: translate(50%, -50%);
}

.btn--right {
  right: 0;
  transform: translate(-50%, -50%);
}
