.carousel {
  position: relative;
}

.carouselMainImg {
  height: 34rem;
}

.carouselMainImg img {
  object-fit: cover;
  object-position: bottom;
}

.btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-neutral-white);
  padding: 1rem 1.2rem;
  border-radius: 50%;
}

.btn:active svg {
  transform: scale(0.75);
}

.btn--left {
  left: 0;
  transform: translate(50%, -50%);
}

.btn--right {
  right: 0;
  transform: translate(-50%, -50%);
}

.carouselThumbnails {
  display: none;
}

@media only screen and (min-width: 1439px) {
  .carousel {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }

  .carouselMainImg {
    height: 50rem;
  }

  .carouselMainImg img {
    cursor: pointer;
    border-radius: 1.6rem;
  }

  .btn {
    display: none;
  }

  .carouselThumbnails {
    display: flex;
    align-items: stretch;
    gap: var(--space-md);
  }

  .carouselThumb img {
    border-radius: 1.2rem;
  }

  .carouselThumb:focus {
    outline: 0.3rem solid var(--color-primary-orange);
    border-radius: 1.2rem;
  }

  .carouselThumb:focus img {
    opacity: 0.5;
  }

  .carouselThumb:hover img {
    opacity: 0.7;
  }
}
